@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Comforter+Brush&family=Montserrat:wght@200&display=swap");

body,
button {
  font-family: "Advent Pro", sans-serif;
}

body {
  width:100%;
  height:80vh;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
   background-image: linear-gradient(to right top, #283925, #355341, #416f62, #4f8b87, #61a8af, #67acb7, #6eb1be, #75b5c5, #6aa3ad, #619296, #588081, #4f6f6d);
  color: black;
}

h1 {
    display: flex;
    justify-content: center;
}


.box-uno, .box-dos  {
  margin: 50px 200px 20px 200px;
  border-radius: 20px;
  box-shadow: 30px 0px 150px 50px #231b2b;  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
} 

.btn-en-de {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

button {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
 outline: none;
 margin: 15px;
 padding:0px 20px 0px 20px;
 color:#387E98 
}

#input-text, #output-text {
  font-family: "Advent Pro", sans-serif;
}

#input-text, #output-text {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    outline: none;
}